
/* auth */

.page-content{
    margin-top: 80px;
    margin-bottom: 60px;
}

/* gallery */
.gallery
{
    display: inline-block;
    margin-top: 20px;
}
.blur {
    -webkit-filter: blur(4px)
    
}





.text-about{
    font-size: 25px;
}




.container h4{
  font-size: 30px;
  font-family: 'Didact Gothic', sans-serif;
}

.main-container {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.container-fluid{
  margin-bottom: 10px;
  margin-top: 10px;
}



body {
    height: 100%;
    background-color: #333;
}

.content-block {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.white-text{
    color: honeydew;
}

.label h2{
    font-size: 55px;
    color: #EBEBEB;
    font-family: 'Pattaya', sans-serif;
    font-size: 8vw;
}

section {
    padding: 150px 0;
    display: block;
}

.servis{
    box-shadow: 0 0 19px 3px, 0 0 13px #333;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}
.avatar{
    box-shadow: 0 0 19px 3px, 0 0 13px #333;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.col-md-6{
    text-align: center;
}

h2 {
    font-weight: 700;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h4{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    font-weight: 700;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



/*------------------------------header-------------------------------------------*/
.master-head{
    height: 750px;
    text-align: center;
    color: #fff;
    background-image: url(pictures/header-pic.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro-text {
    padding-top: 220px;
    padding-bottom: 200px;
}
.intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.intro-text .intro-heading {
    box-sizing: border-box;
    text-transform: uppercase!important;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    
}
.navbar-brand .logo{
    font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
}
li{
    list-style-type: none;
}
button li a{
    color:black;
}
a{
    color: white;
}
/*----------------------------------------------------------------------------------------------*/


/* portfoli0 */
.portfolio-photo{
    background-color: lightgrey;
}

.portfolio-photo img{
    width: 100%;
    height: 100%;
}

.caption{
    padding-top: 10px;
    padding-bottom: 15px;
    color: gainsboro;
}
.caption h3{
 
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
}
.caption p{
  text-align: justify;
  font-size: 20px;
  font-family: 'Didact Gothic', sans-serif;
}

.simple-work{
    margin-top: 10px;
    margin-bottom: 10px;
}


/*about*/
.text-about{
    text-align: center;
    color: gainsboro;
    font-family: 'Nunito Sans', sans-serif;
}
.timeline{
  width: 350px;
  height: auto;
  box-sizing: border-box;
}
.timeline li{
  position: relative;
  list-style: none;
  padding-top: 15px;
}
.timeline li .item{
  position: relative;
  min-height: 60px;
 
  padding: 0 20px 20px 30px;
  margin-left: 20px;
  border-left: 5px solid #ccc;
}
.timeline li:last-child .item{
  border-left: 5px solid transparent;
}
.timeline li .item span{
  position: absolute;
  margin-top:-8px;
  margin-left: -53px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ccc;
  border-radius: 50%;
}

.timeline li .item h4{
  text-align: left;
  font-family: 'Comfortaa', cursive;
 
}
.timeline li .item .content p{
  font-family: 'Didact Gothic', sans-serif;
}



/*team*/
.team-text{
    width: 100%;
    display: inline;
    margin-left: 15px;
}
.panel{
  background-color: #333
}
.panel h3{
  font-size: 35px;
  font-family: 'Comfortaa', cursive;
}
.panel .panel-footer{
  font-family: 'Didact Gothic', sans-serif;
  font-size: 25px;
}


/*copyright*/
.footer-bottom {
  padding: 40px 0 30px;
  border-top: 1px solid #666;
  background: #1e1e1e;
}
.copyright-text p {
  color: #ccc;
  margin-top: 9px;
  margin-bottom: 0;
}
.social-link li {
  display: inline-block;
  margin: 0 5px;
}
.social-link li a {
  color: #ccc;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  transition: .5s;
}
