{% extends "layout.html" %}


{% block title %}{{title}}{% endblock %}

{% block head %}{% endblock %}

{% block content %}


<section id="About">
        <div class="label">
            <h2>Немного о нас</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-6">
                    <div class="text-about">
                      Lifе был основан в 1883 году Джоном Эймсом Митчеллом, походил на журнал Puck, и публиковался в течение 53 лет как развлекательный журнал, с упором на иллюстрации, шутки и социальный комментарий. Девиз первого выпуска Lifе — «Есть жизнь — есть надежда». В нем работали многие величайшие писатели, редакторы и карикатуристы своей эпохи, в том числе Чарльз Дана Гибсон, Норман Роквелл и Гарри Оливер. После смерти Митчелла в 1918 году, Чарльз Гибсон купил журнал за 1 миллион долларов. Но мир к тому времени сильно изменился. Это уже были не «веселые девяностые», когда популярен был семейный юмор, а девушки носили платье длиной до пола. После Первой мировой войны людей заинтересовала сексуальность, а юмор стал более циничным. В поздние годы журнал печатал краткие отзывы о кино и фильмах (аналогичные выходившим в журнале The New Yorker), шедших в Нью-Йорке. Но несмотря на гениальный персонал, Life неизбежно катился к финансовому краху. Журнал потерял многих подписчиков во время Великой депрессии. Набирал популярность New Yorker, а также периодики с непристойным юмором, такие как Ballyhoo и Hooey.
  
  
                      Life Magazines, 1914
                      В 1936 году издатель Генри Люс заплатил 92 тысячи долларов за Life. В период Генри Люса Life был первым полностью фотографическим американским журналом новостей, выходившим 40 лет. Вклад в американскую фотожурналистику трудно переоценить. Возможно, самой знаменитой фотографией является «Медсестра в объятиях моряка» от 27 августа 1945 года, снятая Альфредом Эйзенштадтом в Нью-Йорке во время празднования победы над Японией.
                      
                      Первый номер вышел в 1936 году. Журнал неоднократно менял формат и закрывался: к примеру с 1936 года до его закрытия в 1972 году это был еженедельник. В 1978 году, после шестилетнего перерыва, его выпуск был возобновлён, но уже в формате ежемесячного издания. Однако в 2000 году Life вновь прекратил своё существование. Потеря рентабельности фотожурнала тесно связана с сегодняшним развитием телевидения.
                    </div>
                </div>
            </div>
        </div>
  
        <div class="container">
            <div class="row white-text justify-content-md-center">
                <div class="col-md-12 col-sm-12 col-12">
                    <ul class="timeline">
                        <li>
                            <div class="item">
                                <span></span>
                                <div class="content">
                                    <h4>25/06/2010</h4>
                                    <p>
                                        Открытие первого офиса. Вербовка фотографов
                                    </p>
                                    
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <span></span>
                                <div class="content">
                                        <h4>25/06/2014</h4>
                                        <p>
                                            Открытие первого офиса. Вербовка фотографов
                                        </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <span></span>
                                <div class="content">
                                        <h4>25/06/2017</h4>
                                        <p>
                                            Открытие первого офиса. Вербовка фотографов
                                        </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
{%endblock%}