{% extends "layout.html" %}


{% block title %}{{title}}{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">

        <form class="form-signin white-text" action="/add_set" method="POST">
          <h2 class="form-signin-heading">Добавление фотосессии</h2>
         
          <input id="inputData" class="form-control" placeholder="дата" name="date" autofocus="" type="date"><br>

         
          <input id="inputTime" class="form-control" placeholder="время" name="time" type="time"><br>

         
          <input id="inputName" class="form-control" placeholder="фотограф" name="name" type="text"><br>
         
          <button class="btn btn-lg btn-primary btn-block" type="submit">Добавить</button>
        </form>
    
    </div>
</div>
{%endblock%}