{% extends "layout.html" %}


{% block title %}{{title}}{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<div class="page-content">
    <div class="container">

        <form class="form-signin white-text" action="/auth" method="POST">
          <h2 class="form-signin-heading">Please sign in</h2>
          <label for="inputEmail" class="sr-only">Login</label>
          <input id="inputEmail" name = "login" class="form-control" placeholder="login"  type="text"><br>
          <label for="inputPassword" class="sr-only">Password</label>
          <input id="inputPassword" name = "password" class="form-control" placeholder="password" type="password">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div>

 
{%endblock%}





