{% extends "layout.html" %}


{% block title %}{{title}}{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">

        <form class="form-signin white-text" action="/edit_profile" method="POST">
          <h2 class="form-signin-heading">Изменение профиля</h2>
         
          <input id="inputData" class="form-control" placeholder="дата рождения" name="birthday" value="{{birthday}}"autofocus="" type="date"><br>

         
          <input id="inputTime" class="form-control" placeholder="имя" name="name" value="{{name}}" type="text"><br>

         
          <input id="inputAddress" class="form-control" placeholder="место жительства" name="address" value="{{address}}"type="text"><br>

          <input id="inputSite" class="form-control" placeholder="сайт" name="site" value="{{site}}"type="text"><br>

          <input id="inputEmail" class="form-control" placeholder="email" name="email" value="{{email}}"type="email"><br>
         
          <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить</button>
        </form>
    
    </div>
</div>
{%endblock%}