{% extends "layout.html" %}


{% block title %}{{title}}{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container">

        <form class="form-signin white-text">
          <h2 class="form-signin-heading">Изменение фотосессии</h2>
         
          <input id="inputData" class="form-control" placeholder="дата"  autofocus="" type="date"><br>

         
          <input id="inputTime" class="form-control" placeholder="время"  type="time"><br>

         
          <input id="inputName" class="form-control" placeholder="фотограф"  type="text"><br>
         
          <button class="btn btn-lg btn-primary btn-block" type="submit">Сохранить</button>
        </form>
    
    </div>
</div>
{%endblock%}