
<div class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="copyright-text">
                      <p>
                            CopyRight 2018 Digital All Rights Reserved
                      </p>
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-sm-6">
                    <ul class="social-link pull-right">
                        <li>
                            <a href="">
                                <span class="glyphicon glyphicon-heart-empty"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="glyphicon glyphicon-heart-empty"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="glyphicon glyphicon-heart-empty"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Col -->
            </div>
        </div>
    </div>
