
{% extends "layout.html" %}


{% block title %}{{title}}{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<section>

<div class="container">
       

        

        <div class="label">
                <h2>Работы нашей студии</h2>
            </div>
        <div class="row">
            <div class='list-group gallery'>
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="fancybox thumbnail" rel="ligthbox" href="http://placehold.it/800x600.png">
                        <img class="img-responsive" alt="" src="https://c1.staticflickr.com/1/879/39298863060_b1b064d794_b.jpg" />
                    </a>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="fancybox thumbnail" rel="ligthbox" href="http://placehold.it/800x600.png">
                        <img class="img-responsive" alt="" src="https://c1.staticflickr.com/1/816/40202281704_a72c3564c6_b.jpg" />
                    </a>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="fancybox thumbnail" rel="ligthbox" href="http://placehold.it/800x600.png">
                        <img class="img-responsive" alt="" src="https://static.goldderby.com/wp-content/uploads/2018/01/Christian-Bale-Movies-620x360.jpg" />
                    </a>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="fancybox thumbnail" rel="ligthbox" href="http://placehold.it/800x600.png">
                        <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                    </a>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="fancybox thumbnail" rel="ligthbox" href="http://placehold.it/800x600.png">
                        <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                    </a>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="fancybox thumbnail" rel="ligthbox" href="http://placehold.it/800x600.png">
                        <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                    </a>
                </div> <!-- col-6 / end -->
                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                    <a class="fancybox thumbnail" rel="ligthbox" href="http://placehold.it/800x600.png">
                        <img class="img-responsive" alt="" src="http://placehold.it/320x320" />
                    </a>
                </div> <!-- col-6 / end -->
                
            </div> <!-- list-group / end -->
        </div> <!-- row / end -->
    </div> <!-- container / end -->
</section>

{% endblock %}