
      <nav class="nav navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   <div class="logo navbar-brand"> {{ nav_link('index', 'Photo Studio') }}</div>
                </div>
  
  
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                            <li>
                                {{ nav_link('gallery', 'Галерея') }}
                            </li>
                        
                            <li>
                                {{ nav_link('about', 'О нас') }}
                            </li>   

                            {% if login %}
                            <li>
                                {{ nav_link('profile', 'Профиль') }}
                            </li>
                            {% endif %}

                            <li>
                                {{ nav_link('shedule', 'Расписание') }}
                             </li>  
                       
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if login=='' %}
                                    <li>{{ nav_link('auth', 'Войти') }}</li>
                                    <li>{{ nav_link('registration', 'Зарегистрироваться') }}</li>
                                {% endif %}
                                <li>{{ nav_link('signout', 'Выйти') }}</li>
                            </ul>
                        </li>
  
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>