{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Pattaya" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <script  src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script  src="{{ url_for('static', filename='bootstrap.js') }}"></script>
  </head>

  <script>
    $(document).ready(function () {
        $('a[href*=\\#').bind("click", function (e) {
            var anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $(anchor.attr('href')).offset().top
            }, 1000);
            e.preventDefault();
        });
        return false;
    });
</script>

  <body>

      {% include 'header.html' %}
      {% block content %}{% endblock %}
      {% include 'footer.html'%}
    
  </body>
</html>
