
{% extends "layout.html" %}


{% block title %}{{title}}{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<section>
    
    <div class="container">
        
        
        <div class="row white-text">
            <div class="col-sm-4 col-md-4">
                <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"
                alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-sm-6 col-md-6" style="font-size:25px;">
                Name:
                <p>{{name}}</p>
                Address:
                <p>
                    {{address}}
                </p>
                
                <p> <i class="glyphicon glyphicon-envelope"></i> Email: {{email}}
                    <br/> <i class="glyphicon glyphicon-globe"></i> Site: {{site}}
                    <br/> <i class="glyphicon glyphicon-gift"></i> Birthday: {{birthday}}
                </p>
                
                
                <hr/>
                <ul>
                    <li>
                            {{ nav_link('edit_profile', 'Редактировать') }}
                    </li>
                </ul>
                
                
            </div>
        </div>
    </div>
</section>
{% endblock %}