{% extends "layout.html" %}


{% block title %}{{title}}{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<div class="page-content">
    <div class="container">

        <form class="form-signin white-text" action="/registration" method="POST">
          <h2 class="form-signin-heading">Добро пожаловать!</h2>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input id="inputEmail" class="form-control" placeholder="Email address" name="email" required="" autofocus="" type="email"><br>
          <label for="inputPassword" class="sr-only">Password</label>
          <input id="inputPassword" class="form-control" placeholder="Password" name="password" required="" type="password"><br>
          <label for="login" class="sr-only">Login</label>
          <input id="login" class="form-control" placeholder="login" name="login" type="text">
          
          <button class="btn btn-lg btn-primary btn-block" type="submit">Registration</button>
        </form>
    
    </div>
</div>

 
{%endblock%}

