{% extends "layout.html" %}


{% block title %}{{title}}{% endblock %}

{% block head %}{% endblock %}

{% block content %}

<div class="page-content">
    <div class="container text-light">
        <h2 style="color: white">Great! Registratio succeess)</h2>
        
          <a href="#" class="link" type="submit">{{ nav_link('index', 'Go to main page ->') }}</a>
        
    
    </div>
</div>

 
{%endblock%}





