 {% extends "layout.html" %} {% block title %}{{title}}{% endblock %} {% block head %}{% endblock %} {% block content %}
<section>



    <div class="container white-text">
        <table class="table">
            <thead>
                <tr>
                    
                    <th>Дата</th>
                    <th>Фотограф</th>
                    <th>Время</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for set in shedule_mass['data_massiv'] %}
                    <tr class="table-row">
                        <td>{{set['date']}}</td>
                        <td>{{set['name']}}</td>
                        <td>{{set['time']}}</td>
                        <td><a href="{{ url_for('edit_fotoset', id='1')}}">Edit</a></td>
                        <td><a href="#" data-toggle="modal" data-target="#myModal">Del</a></td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <ul>
            <li>
                <p>
                    {{ nav_link('add_fotoset', 'Добавить сессию') }}
                </p>
            </li>
        </ul>
    </div>

    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="z-index: 1090;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Удаление фотосессии</h4>
                </div>
                <div class="modal-body">
                    <p>Вы действительно хотите удалить указанную фотосессию?</p>
                </div>
                <div class="modal-footer">
                   
                    <br>

                    <button class="btn btn-lg btn-primary btn-block" >Удалить</button>
                </div>
            </div>

        </div>
    </div>

</section>



{% endblock %}