{% extends "layout.html" %}


{% block title %}{{title}}{% endblock %}

{% block head %}{% endblock %}

{% block content %}

    <div class="master-head">
      <div class="container">
          <div class="intro-text">
              <div class="intro-lead-in">{{banner_small_text}}</div>
              <div class="intro-heading text-uppercase">{{banner_big_text}}</div>
              <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#Contacts">Заказать у нас работу</a>
          </div>
      </div>
  </div>

  <section id="Services">
      <div class="content-block">
          <div class="label">
              <h2>Мы предлагаем вам:</h2>
          </div>
          <div class="container">
              <div class="row white-text">
                  <div class="col-xs-12 col-md-6">
                      <h4>Портретная фотография (студия)</h4>
                      <img src="static/pictures/photo1.jpg" class="servis">
                  </div>
                  <div class="col-xs-12 col-md-6">
                      <h4>Портретная фотография (природа)</h4>
                      <img src="static/pictures/photo2.jpg" class="servis">
                  </div>
                  <div class="col-xs-12 col-md-6">
                      <h4>Предметная съёмка</h4>
                      <img src="static/pictures/small-photo.jpg" class="servis">
                  </div>
                  <div class="col-xs-12 col-md-6">
                      <h4>профессиональная обработка изображений</h4>
                      <img src="static/pictures/ps-2.jpg" class="servis">
                  </div>
              </div>
          </div>
  </section>





  <section id="Portfolio">
      <div class="label">
          <h2>Наши работы</h2>
      </div>
      <div class="container">

   
            <div class="row whie-text simple-work">
                    <div class="col-md-4 col-xs-12 portfolio-item">
                        <div class="portfolio-photo">
                            <img src="static/pictures/design.jpg" />
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="caption">
                            <h3>Oформление аккаунтов в социальных сетях</h3>
                            <p>Оформление групп и аккаунтов в соц.сетях, дизайн Вконтакте, Twitter, Facebook, Google+.</p>
                        </div>
        
                    </div>
                </div>


          <div class="row whie-text simple-work">
              <div class="col-md-4 col-xs-12 portfolio-item">
                  <div class="portfolio-photo">
                      <img src="static/pictures/ps-2.jpg" />
                  </div>
              </div>
              <div class="col-md-7 col-sm-12">
                  <div class="caption">
                      <h3>Обложки для лейблов</h3>
                      <p>Мы создаём обложки для популярных лейблов. Среди наших клиентов Spinnin Records, Axtone Records,
                          Sony и другие)</p>
                  </div>

              </div>
          </div>

         

          <div class="row whie-text simple-work">
              <div class="col-md-4 col-xs-12 portfolio-item">
                  <div class="portfolio-photo">
                      <img src="static/pictures/work-example.jpg" />
                  </div>
              </div>
              <div class="col-md-7 col-sm-12">
                  <div class="caption">
                      <h3>SMM Desighn</h3>
                      <p>Продвижение в социальных сетях (SMM) включает в себя: • Разработка стратегии продвижения; • создание, оформление и наполнение первичным контентом публичной страницы или группы; • добавление обсуждений, опросов, фотографий, видео, аудио и прочих материалов</p>
                  </div>

              </div>
          </div>
      </div>
  </section>



  <section id="Team">
      <div class="label">
          <h2>Наша команда</h2>
      </div>

      <div class="container">
          <div class="row">
              <div class="col-md-6 col-sm-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title">Фотограф</h3>
                      </div>
                      <div class="panel-body">
                          <img class="card-img-top" src="static/pictures/annie.jpg" alt="Card image cap" style="width: 18rem;">
                      </div>
                      <div class="panel-footer">Анна-Лу (Энни) Лейбовиц (англ. Anna-Lou «Annie» Leibovitz; род. 2 октября 1949, Уотербери, Коннектикут)
                          — американский фотограф. Специализируется на портретах знаменитостей.</div>
                  </div>
              </div>

          </div>


  </section>

  <section id="Contacts">
      <div class="label">
          <h2>Связаться с нами</h2>
      </div>
      <div class="contact-section">
          <div class="container">
              <form>
                  <div class="row">

                      <div class="col-md-6 col-sm-12 col-6 form-line">
                          <div class="form-group">
                              <label for="exampleInputUsername">Your name</label>
                              <input type="text" class="form-control" id="" placeholder=" Enter Name">
                          </div>
                          <div class="form-group">
                              <label for="exampleInputEmail">Email Address</label>
                              <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
                          </div>
                          <div class="form-group">
                              <label for="telephone">Mobile No.</label>
                              <input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
                          </div>
                      </div>


                      <div class="col-md-6 col-sm-12 col-6">
                          <div class="form-group">
                              <label for="description"> Message</label>
                              <textarea class="form-control" id="description" placeholder="Enter Your Message"></textarea>
                          </div>
                          <div>

                              <button type="button" class="btn btn-default submit">
                                  <i class="fa fa-paper-plane" aria-hidden="true"></i> Send Message</button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
  </section>
  
 
{%endblock%}





